$titulos-gris: rgb(66, 66, 66);
$fecha-gris: rgb(109, 113, 119);
$texto-gris: rgb(65, 69, 73);
$azul: rgb(66, 133, 244);


$titulos-family: 'Roboto', sans-serif;
$padding-l-a: 4%;
$hr-border: 3px;
$alinear-centro: center;
$alinear-derecho: right;
$none: none;

$porcentaje: 100%;

$padding-textos: 1%;

$imgIcon: 10%;

$fecha-texto: .9em;