$titulos-gris: rgb(66, 66, 66);
$fecha-gris: rgb(109, 113, 119);
$texto-gris: rgb(65, 69, 73);
$azul: rgb(66, 133, 244);

$titulos-size: .8em;
$titulos-family: 'Roboto', sans-serif;

$padding-l-a: 4%;

$hr-border: 3px;