@import '_grid';
@import '_variables';
@import '_mixin';
@import '_funciones';

body{
    @include estilos-fuentes;
}

#header {
    div{
        div{
            text-align: $alinear-centro;
            img{
                
            }
        }
    }
}

#home {
    div{
        img {
            @include img-size;
        }
    }
}

#menu {
    div.col-6{
        margin-bottom: 7%;
        a{
            text-decoration: $none;
            color: $titulos-gris;
            font-size: font-size(1em);
            font-family: $titulos-family;
            padding-left: $padding-l-a;
        }
    }
    div{
        img {
            width: 8%;
            text-align: $alinear-derecho;
        }
    }
}

#tarjetas{
    div.row{
        div.col-7{
        }
    }
}

#newsfeed{
    section{
        div{
            div{
                img{
                    @include img-size;
                }
            }
        }
    }
}

div.imgClase{
    div{
        img{
            @include img-size;
        }
    }
    div{
        img{
            @include img-size;
        }
    }
    div{
        div{
            img{
                @include img-size;
            }
        }
    }
}

#brand {
    div {
        div{
            img {
                @include img-size;
            }
        }
    }
}

.imgIcon {
   width: $imgIcon;
}

#latest {
    div {
        div{
            img {
                @include img-size;
            }
            div{
                img{
                    @include img-size;
                }
            }
        }
    }
}

#iconos {
    div{
        img.imgIcon{
            width: $imgIcon;
        }
    }
}

hr {
    @include hrStyle; 
}

.fecha{
    color: $fecha-gris;
    font-size: $fecha-texto;
}

/* --- inicio GRID --- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.templateRow {
    content: " ";
    display: table;
}

.row {
    &:before{
        @extend .templateRow;
    }
    &:after{
        @extend .templateRow;
        clear: both;
    }
}

[class*="col-"]{
    min-height: 7px;
    padding: 12px;
    float: left;
}

/* --- fin GRID --- */